@use '../../styles/partials/mixins.scss' as *;


.card-d {
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
    .next-videos--container-d {
        @include desktop {
        display: flex;
        padding-left: 2rem;
        }
    }
    .videos--flex-d {
        @include desktop {
        display: flex;
        flex-direction: column;
        }
    }
    .thumbnail-d {
        @include desktop {
        width: 125px;
        aspect-ratio: 16/9;
        border-radius: 4px;
        margin: 0 2rem 0 0;
        }
    }
    .description--flex-d {
        @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    }
    .title-d {
        @include desktop {
        font-weight: 700;
        margin: 0;
        width: 80%;
        }
    }
    .channel-d {
        @include desktop {
            
        }
    }
}